!/miniupnpc-2.2.5/
!/miniupnpc/miniupnpc-2.2.5.tar.gz
!/usr/
!/miniupnpc/.MTREE
!/miniupnpc/.PKGINFO
!/miniupnpc/miniupnpc-2.2.5-1-armv7h.pkg.tar.xz
/usr/bin/external-ip
/usr/bin/upnpc
/usr/include/miniupnpc/igd_desc_parse.h
/usr/include/miniupnpc/miniupnpc.h
/usr/include/miniupnpc/miniupnpc_declspec.h
/usr/include/miniupnpc/miniupnpctypes.h
/usr/include/miniupnpc/miniwget.h
/usr/include/miniupnpc/portlistingparse.h
/usr/include/miniupnpc/upnpcommands.h
/usr/include/miniupnpc/upnpdev.h
/usr/include/miniupnpc/upnperrors.h
/usr/include/miniupnpc/upnpreplyparse.h
/usr/lib/pkgconfig/miniupnpc.pc
/usr/lib/libminiupnpc.so
/usr/lib/libminiupnpc.so.17
/usr/share/licenses/miniupnpc/LICENSE
/usr/share/man/man3/miniupnpc.3.gz
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/moj-docker-builder.iml
/.idea/vcs.xml
/miniupnpc/miniupnpc-2.2.5/include/igd_desc_parse.h
/miniupnpc/miniupnpc-2.2.5/include/miniupnpc.h
/miniupnpc/miniupnpc-2.2.5/include/miniupnpc_declspec.h
/miniupnpc/miniupnpc-2.2.5/include/miniupnpctypes.h
/miniupnpc/miniupnpc-2.2.5/include/miniwget.h
/miniupnpc/miniupnpc-2.2.5/include/portlistingparse.h
/miniupnpc/miniupnpc-2.2.5/include/upnpcommands.h
/miniupnpc/miniupnpc-2.2.5/include/upnpdev.h
/miniupnpc/miniupnpc-2.2.5/include/upnperrors.h
/miniupnpc/miniupnpc-2.2.5/include/upnpreplyparse.h
/miniupnpc/miniupnpc-2.2.5/java/JavaBridgeTest.java
/miniupnpc/miniupnpc-2.2.5/java/testjava.bat
/miniupnpc/miniupnpc-2.2.5/java/testjava.sh
/miniupnpc/miniupnpc-2.2.5/man3/miniupnpc.3
/miniupnpc/miniupnpc-2.2.5/msvc/genminiupnpcstrings.vbs
/miniupnpc/miniupnpc-2.2.5/msvc/miniupnpc.sln
/miniupnpc/miniupnpc-2.2.5/msvc/miniupnpc.vcproj
/miniupnpc/miniupnpc-2.2.5/msvc/miniupnpc.vcxproj
/miniupnpc/miniupnpc-2.2.5/msvc/miniupnpc.vcxproj.filters
/miniupnpc/miniupnpc-2.2.5/msvc/miniupnpc_vs2010.sln
/miniupnpc/miniupnpc-2.2.5/msvc/miniupnpc_vs2010.vcxproj
/miniupnpc/miniupnpc-2.2.5/msvc/miniupnpc_vs2010.vcxproj.filters
/miniupnpc/miniupnpc-2.2.5/msvc/miniupnpc_vs2015.sln
/miniupnpc/miniupnpc-2.2.5/msvc/upnpc-static.vcproj
/miniupnpc/miniupnpc-2.2.5/msvc/upnpc-static.vcxproj
/miniupnpc/miniupnpc-2.2.5/msvc/upnpc-static.vcxproj.filters
/miniupnpc/miniupnpc-2.2.5/msvc/upnpc-static_vs2010.vcxproj
/miniupnpc/miniupnpc-2.2.5/src/addr_is_reserved.c
/miniupnpc/miniupnpc-2.2.5/src/addr_is_reserved.h
/miniupnpc/miniupnpc-2.2.5/src/codelength.h
/miniupnpc/miniupnpc-2.2.5/src/connecthostport.c
/miniupnpc/miniupnpc-2.2.5/src/connecthostport.h
/miniupnpc/miniupnpc-2.2.5/src/igd_desc_parse.c
/miniupnpc/miniupnpc-2.2.5/src/listdevices.c
/miniupnpc/miniupnpc-2.2.5/src/minihttptestserver.c
/miniupnpc/miniupnpc-2.2.5/src/minisoap.c
/miniupnpc/miniupnpc-2.2.5/src/minisoap.h
/miniupnpc/miniupnpc-2.2.5/src/minissdpc.c
/miniupnpc/miniupnpc-2.2.5/src/minissdpc.h
/miniupnpc/miniupnpc-2.2.5/src/miniupnpc.c
/miniupnpc/miniupnpc-2.2.5/src/miniupnpc_socketdef.h
/miniupnpc/miniupnpc-2.2.5/src/miniupnpcmodule.c
/miniupnpc/miniupnpc-2.2.5/src/miniwget.c
/miniupnpc/miniupnpc-2.2.5/src/miniwget_private.h
/miniupnpc/miniupnpc-2.2.5/src/minixml.c
/miniupnpc/miniupnpc-2.2.5/src/minixml.h
/miniupnpc/miniupnpc-2.2.5/src/minixmlvalid.c
/miniupnpc/miniupnpc-2.2.5/src/portlistingparse.c
/miniupnpc/miniupnpc-2.2.5/src/receivedata.c
/miniupnpc/miniupnpc-2.2.5/src/receivedata.h
/miniupnpc/miniupnpc-2.2.5/src/testaddr_is_reserved.c
/miniupnpc/miniupnpc-2.2.5/src/testigddescparse.c
/miniupnpc/miniupnpc-2.2.5/src/testminiwget.c
/miniupnpc/miniupnpc-2.2.5/src/testminixml.c
/miniupnpc/miniupnpc-2.2.5/src/testportlistingparse.c
/miniupnpc/miniupnpc-2.2.5/src/testupnpreplyparse.c
/miniupnpc/miniupnpc-2.2.5/src/upnpc.c
/miniupnpc/miniupnpc-2.2.5/src/upnpcommands.c
/miniupnpc/miniupnpc-2.2.5/src/upnpdev.c
/miniupnpc/miniupnpc-2.2.5/src/upnperrors.c
/miniupnpc/miniupnpc-2.2.5/src/upnpreplyparse.c
/miniupnpc/miniupnpc-2.2.5/src/win32_snprintf.h
/miniupnpc/miniupnpc-2.2.5/testdesc/linksys_WAG200G_desc.values
/miniupnpc/miniupnpc-2.2.5/testdesc/linksys_WAG200G_desc.xml
/miniupnpc/miniupnpc-2.2.5/testdesc/new_LiveBox_desc.values
/miniupnpc/miniupnpc-2.2.5/testdesc/new_LiveBox_desc.xml
/miniupnpc/miniupnpc-2.2.5/testreplyparse/DeletePortMapping.namevalue
/miniupnpc/miniupnpc-2.2.5/testreplyparse/DeletePortMapping.xml
/miniupnpc/miniupnpc-2.2.5/testreplyparse/GetExternalIPAddress.namevalue
/miniupnpc/miniupnpc-2.2.5/testreplyparse/GetExternalIPAddress.xml
/miniupnpc/miniupnpc-2.2.5/testreplyparse/GetSpecificPortMappingEntryReq.namevalue
/miniupnpc/miniupnpc-2.2.5/testreplyparse/GetSpecificPortMappingEntryReq.xml
/miniupnpc/miniupnpc-2.2.5/testreplyparse/GetSpecificPortMappingEntryResp.namevalue
/miniupnpc/miniupnpc-2.2.5/testreplyparse/GetSpecificPortMappingEntryResp.xml
/miniupnpc/miniupnpc-2.2.5/testreplyparse/readme.txt
/miniupnpc/miniupnpc-2.2.5/testreplyparse/SetDefaultConnectionService.namevalue
/miniupnpc/miniupnpc-2.2.5/testreplyparse/SetDefaultConnectionService.xml
/miniupnpc/miniupnpc-2.2.5/apiversions.txt
/miniupnpc/miniupnpc-2.2.5/Changelog.txt
/miniupnpc/miniupnpc-2.2.5/CMakeLists.txt
/miniupnpc/miniupnpc-2.2.5/external-ip.sh
/miniupnpc/miniupnpc-2.2.5/LICENSE
/miniupnpc/miniupnpc-2.2.5/Makefile
/miniupnpc/miniupnpc-2.2.5/Makefile.mingw
/miniupnpc/miniupnpc-2.2.5/MANIFEST.in
/miniupnpc/miniupnpc-2.2.5/mingw32make.bat
/miniupnpc/miniupnpc-2.2.5/miniupnpc.def
/miniupnpc/miniupnpc-2.2.5/miniupnpc.pc.in
/miniupnpc/miniupnpc-2.2.5/miniupnpc.rc
/miniupnpc/miniupnpc-2.2.5/miniupnpc-config.cmake
/miniupnpc/miniupnpc-2.2.5/miniupnpcstrings.h.cmake
/miniupnpc/miniupnpc-2.2.5/miniupnpcstrings.h.in
/miniupnpc/miniupnpc-2.2.5/pymoduletest.py
/miniupnpc/miniupnpc-2.2.5/README
/miniupnpc/miniupnpc-2.2.5/setup.py
/miniupnpc/miniupnpc-2.2.5/setupmingw32.py
/miniupnpc/miniupnpc-2.2.5/testminiwget.sh
/miniupnpc/miniupnpc-2.2.5/testupnpigd.py
/miniupnpc/miniupnpc-2.2.5/testupnpreplyparse.sh
/miniupnpc/miniupnpc-2.2.5/updateminiupnpcstrings.sh
/miniupnpc/miniupnpc-2.2.5/VERSION
/miniupnpc/miniupnpc-2.2.5/wingenminiupnpcstrings.c
/miniupnpc/.BUILDINFO
/miniupnpc/miniupnpc-2.2.5-1-armv7h.pkg.tar.xz
/miniupnpc/miniupnpc-2.2.5.tar.gz
/miniupnpc/.PKGINFO
/miniupnpc/.MTREE
/miniupnpc/usr/bin/external-ip
/miniupnpc/usr/bin/upnpc
/miniupnpc/usr/include/miniupnpc/igd_desc_parse.h
/miniupnpc/usr/include/miniupnpc/miniupnpc.h
/miniupnpc/usr/include/miniupnpc/miniupnpc_declspec.h
/miniupnpc/usr/include/miniupnpc/miniupnpctypes.h
/miniupnpc/usr/include/miniupnpc/miniwget.h
/miniupnpc/usr/include/miniupnpc/portlistingparse.h
/miniupnpc/usr/include/miniupnpc/upnpcommands.h
/miniupnpc/usr/include/miniupnpc/upnpdev.h
/miniupnpc/usr/include/miniupnpc/upnperrors.h
/miniupnpc/usr/include/miniupnpc/upnpreplyparse.h
/miniupnpc/usr/lib/pkgconfig/miniupnpc.pc
/miniupnpc/usr/lib/libminiupnpc.so
/miniupnpc/usr/lib/libminiupnpc.so.17
/miniupnpc/usr/share/licenses/miniupnpc/LICENSE
/miniupnpc/usr/share/man/man3/miniupnpc.3.gz
